2_Analysis/tmp
1_Simulations/b_Interim_files
1_Simulations/c_Output
2_Analysis/Vw.html
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/Data_r.csv
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/map_length.pdf
*.pdf
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/Data_r_sims_only.csv
RESULTS and ANALYSES/No_burnin/Scale_0.033/plot_code.R
RESULTS and ANALYSES/No_burnin/Scale_0.033/.Rhistory
2_Analysis/Vw_files/figure-html/alpha_distribution-1.png
2_Analysis/Vw_sim_functions.html
/1_Simulations/b_Interim_files
/1_Simulations/c_Output
