6_Code_Test/tmp
/5_History_sim/b_Interim_files
/5_History_sim/c_Output
6_Code_Test/Vw.html
6_Code_Test/Vw.html
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/Data_r.csv
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/map_length.pdf
*.pdf
RESULTS and ANALYSES/burnin/Patterns/Effect of map length/Data_r_sims_only.csv
RESULTS and ANALYSES/No_burnin/Scale_0.033/plot_code.R
RESULTS and ANALYSES/No_burnin/Scale_0.033/.Rhistory
6_Code_Test/Vw_files/figure-html/alpha_distribution-1.png
6_Code_Test/Vw.html
6_Code_Test/Vw.html
6_Code_Test/Vw_files/figure-html/alpha_distribution-1.png
6_Code_Test/Vw_files/figure-html/alpha_distribution-1.png
